.wrapper {
  /* background-image: url('../img/fontNext.webp'); */
  background-color: white;
}

.header {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 10px 0px;
  border: 2px solid;
  width: 500px;
  margin: 5px 20% 5px 30%;
}

.app {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 0;
}

.content {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 700px;
  flex-wrap: wrap;
}
.blockCart {
  width: 122x;
  height: 180px;
  border: 1px solid;
  margin: 20px 10px 20px 20px;
  padding: 5px 5px 30px 5px;
}

.blockCart:hover {
  box-shadow: 5px 5px 5px, -5px -5px 5px;
}

.blockCart img {
  width: 110px;
  height: 110px;
}

.blockCart h2 {
  font-size: 14px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.blockCart h2::first-letter {
  text-transform: uppercase;
}

.blockCart span {
  font-size: 14px;
  border: 1px rgb(164, 60, 164);
  margin: 0 5px 0 0;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgb(164, 60, 164);
}
.blockCart span:first-child {
  border: 1px greenyellow;
  background-color: greenyellow;
}
/* .activeBlock span:last-child {
  display: inline-block;
  width: 70px;
} */

.blockCart span:hover {
  border: 1px blue;
  background-color: blue;
}

.buttonLoad {
  margin: 0 0 20px 20px;
  width: 427px;
  height: 50px;
  background-color: blue;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid blue;
}
.buttonLoad:hover {
  color: blue;
  background-color: white;
}

.activeBlock {
  border: 1px solid;
  height: 600px;
  width: 250px;
  margin: 50px 50px;
  text-align: center;
}
.activeBlock h2::first-letter {
  text-transform: uppercase;
}

.activeBlock span {
  display: inline-block;
  border: 1px solid;
  margin: 0px 0px 0px 0px;
}
.activeBlock span:first-child {
  display: inline-block;
  width: 150px;
}
.activeBlock span:last-child {
  display: inline-block;
  width: 70px;
}
.activeBlock img {
  width: 220px;
  height: 220px;
  background-color: white;
  margin: 15px 0 0 0;
}

.character {
}
.character span:first-letter {
  text-transform: uppercase;
}

.sort__label {
  position: relative;
  display: flex;
  align-items: center;
  width: 180px;
  cursor: pointer;
  padding: 5px;
}

.sort__label:hover {
  background-color: rgb(182, 180, 180);
  border-radius: 5px;
}

.sort li {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 100px;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  background-color: azure;
  font-weight: 700;
  padding: 5px 0px;
}
.sort li::first-letter {
  text-transform: uppercase;
}
.sort li:hover {
  background-color: rgb(182, 180, 180);
  border-radius: 5px;
}

.sort__label svg {
  margin-right: 8px;
  transform: rotate(180deg);
}
.sort__label svg:active {
  transform: rotate(0deg);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  /* justify-content: center;
  padding-top: 5rem; */
}

.modalBody {
  /* padding: 2rem;
  width: 400px; */
  border-radius: 5px;
  /* background: #fff; */
  /* height: 200px; */
}

